# Ignore everything
/*

# But not these files...
!.gitignore
!.zshenv

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log

!/.config
!/.config/**

/.config/yarn
/.config/*.old
