# Ignore everything
/**

# But not these files...
!.gitignore
!.zshenv

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log

!.config/
!.config/*
!.config/nvim/
!.config/nvim/*
!.config/nvim/lua/
!.config/nvim/lua/*
!.config/nvim/lua/config/
!.config/nvim/lua/config/*
!.config/nvim/lua/plugins/
!.config/nvim/lua/plugins/*

.config/yarn
.config/*.old
